// import fonts Lato all fonts on website, Kaushan only some headers
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script&subset=latin,latin-ext);

/// colors
/// main varible
$primary-color: white;
$secondary-color: black;
// fonts
//font-family: 'Lato', sans-serif;
//font-family: 'Kaushan Script', cursive;

body {
  color: $secondary-color;
  background: $primary-color;
  font-family: 'Lato', sans-serif;
  text-align: justify;
  padding-top: 40px;
}

.headerText {
  font-family: 'Kaushan Script', cursive;
}

.jumbotron {
  background: white;
}

// ################### about us
#aboutus {
  background: #00B2B2;
}

// Extra small devices (portrait phones, less than 34em)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 34em and up)
@media (min-width: 34em) {

}

// Medium devices (tablets, 48em and up)
@media (min-width: 48em) {

}

// Large devices (desktops, 62em and up)
@media (min-width: 62em) {

}

// Extra large devices (large desktops, 75em and up)
@media (min-width: 75em) {

}