// import fonts Lato all fonts on website, Kaushan only some headers
@import url(https://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script&subset=latin,latin-ext);

/// colors
/// main varible
$primary-color: white;
$secondary-color: black;
$aboutus-color:#00B2B2;
$blog-color: lightgreen;
$services-color: yellow;
$brand-primary: orange;
// fonts
//font-family: 'Lato', sans-serif;
//font-family: 'Kaushan Script', cursive;

body {
  //color: $secondary-color;
  //background: $primary-color;
  font-family: 'Lato', sans-serif;
  //padding-top: 0px;
  //overflow-x: hidden;
}

.headerText {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.3em;
}

h1, h2 {
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);
}
a img {
  margin: 10px 0;
}

.logo {
  font-size: 2.5em;
}
.mainColor {
  color: $primary-color;
}

.secondaryColor {
  color:$secondary-color;
}
//  navbar active color

.navbar {
  background: rgba(255,255,255, 0.8);
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: orange;
  background-color: transparent;
  border-top:3px solid orange;
  padding-top: 12px
}

// ######### welcome
#welcome {
  position: relative;
  background: #fff url("../img/bg_header.png") no-repeat center center;/*slide.jpg =>you image*/
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
  background-size: cover;
  overflow: hidden;
  padding: 220px 0; // MD 380px 0
}
//.navbar-inner{
//  background-image: none;
//  background-repeat: repeat-x;
//}

.btn {
  -webkit-box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.43);
  -moz-box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.43);
  box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.43);
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
}

.btn-default {
  transition: box-shadow, background-color 0.3s ease-in-out;
}

.btn-default:hover {
  -webkit-box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.43);
  -moz-box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.43);
  box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.6);
}

.btn-warning {
  color: #fff;
  background-color: #f0ad4e;
  border-color: #eea236;
  transition: box-shadow, background-color 0.3s ease-in-out;
}
.btn-warning:hover {
//  background-color: yellow;
  -webkit-box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.43);
  -moz-box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.43);
  box-shadow: 3px 11px 21px -5px rgba(0,0,0,0.6);
}

.btn-service {
 padding: 35px 35px;
  margin: 5px 0;
}

.widthbtn {
  width: 250px;
 font-size: 1.2em;
}
.afterefect {
  padding-left: 50px;
  font-size: 1.7em;
}

.afterefect::after {
  width: 0;
  height: 0;
  border-left: 1px solid gray;
  border-top: 71px solid gray;
  position: absolute;
  content: "";
  top: -22px;
  left: 20px;
}
// ################### about us
#aboutus {
  background: $aboutus-color;
  padding-top:50px;
  padding-bottom:50px;
}

// ################## services
#services, #newsletter {
  background: $services-color;
}

.overImg {
  position: absolute;
  top:40px;
  left:60px;
}




// newsletter

#newsletter {
    position: relative;
    background: #fff url("../img/bg_subscribe2.jpg") no-repeat center center;/*slide.jpg =>you image*/
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    background-size: cover;
    overflow: hidden;
    padding: 150px 0; // MD 380px 0
}

.bgkcolor {
  background: rgba(255, 255, 255, 0.8); //md delete bgk
}
// blog

#blog {
  background: $blog-color;
}
.overImgTitle {
   background-color: $primary-color;
   position: absolute;
   top: 150px;
   left: 15px;
   font-size: 1em;
 }

.overImgDate {
  background-color: $primary-color;
  position: absolute;
  top: 15px;
  left: 15px;
}
//.paralax {
//  background-color: cadetblue;
//  color: white; }
//
//[class*="bg__"] {
//  height: 50vh;
//  /* fix background */
//  background-attachment: fixed;
//  /* center it */
//  background-position: center center;
//  /* Scale it nicely to the element */
//  background-size: cover;
//  /* just make it look a bit better ;) */ }
////[class*="bg__"]:nth-child(2n) {
////  box-shadow: inset 0 0 1em #111; }
//
//.bg__bar {
//  background-image: url(../img/bg_services.png); }

/* Counter FActs
====================================== */

#counter_area {
  background-color: #01A6E0;
}

.facts {
  //background: url('../images/bg/5.jpg') no-repeat fixed 50% 0px / cover transparent;
  /*background: url('../images/slider/bg_counter.jpg') no-repeat fixed 50% 0px / cover transparent;*/
  position: relative;
  margin: 0 auto;
  width: 100%;
  overflow: hidden;
  z-index: 2;
  padding: 80px 0 120px 0;
}

.facts-wrap {
  position: relative;
  width: 180px;
  height: 180px;
  margin: 0 auto 10px;
  text-align: center;
}

.facts-wrap h6 {
  font-weight: 700;
  padding-top: 15px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 2px;
  font-size: 20px;
  line-height: 18px;
  color: #fff;
  margin-top: 15px;
}

.facts-wrap-num {
  color: #fff;
  font-size: 50px;
  line-height: 60px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  margin-top: 130px;
}

.graph {
  width: 180px;
  height: 180px;
  margin: 0 auto;
  position: relative;
  text-align: center;
  margin-bottom: 10px;
}

.graph i {
  font-size: 40px;
  line-height: 180px;
}

.graph .graph-left-half,
.graph .graph-right-half {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  overflow: hidden;
}

.graph .graph-left-half:after,
.graph .graph-right-half:after {
  position: absolute;
  top: 0;
  height: 100%;
  width: 200%;
  border: 5px #FFF solid;
  border-radius: 50%;
  content: '';
}

.graph .graph-left-half {
  left: 0;
}

.graph .graph-left-half:after {
  left: 0;
}

.graph .graph-right-half {
  right: 0;
}

.graph .graph-right-half:after {
  right: 0;
}

.graph .graph-left-container,
.graph .graph-right-container {
  position: absolute;
  width: 200%;
  height: 100%;
}

.graph .graph-left-container {
  left: 0;
}

.graph .graph-right-container {
  right: 0;
}

.graph .graph-left-side,
.graph .graph-right-side {
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0;
  overflow: hidden;
}

.graph .graph-left-side {
  left: 0;
}

.graph .graph-right-side {
  right: 0;
}

.graph.onscroll-animate.graph-anim .graph-left-container,
.graph .graph-left-container {
  -webkit-transform: rotate(25deg);
  -moz-transform: rotate(25deg);
  -o-transform: rotate(25deg);
  -ms-transform: rotate(25deg);
  transform: rotate(25deg);
}

.graph.onscroll-animate.graph-anim .graph-right-container,
.graph .graph-right-container {
  -webkit-transform: rotate(-25deg);
  -moz-transform: rotate(-25deg);
  -o-transform: rotate(-25deg);
  -ms-transform: rotate(-25deg);
  transform: rotate(-25deg);
}

.counterIcon {
  color: $primary-color;
  font-size: 4em;
  margin-top:50px;
}


//
//.counter {
//  margin-top:50px;
//  padding-top:100px;
//}

// ############ contact
.intro {
  display: table;
  width: 100%;
  max-width: 100%;
  text-align: center;
  color: $primary-color;
  background: $primary-color url(../img/bg_contact.png) no-repeat bottom center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  padding: 20px 0; //md padding: 100px 0;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 1);;
}

.form-control{
  //background: #ff0000;
  //color: white;
  background: rgba(255, 255, 255, 0.8);
  border: none;
  outline: none;

}

.form-control:focus {
  color: $aboutus-color;
}

// JS scroll to the top

.top {
  background-color: #9f449b;
  bottom: 2em;
  color: #fff;
  display: none;
  opacity: 0.6;
  padding: 1.5em;
  position: fixed;
  right: 1.5em;
  text-decoration: none; }

.top:hover {
  opacity: 1;
  transition: 0.9s;
}

// isotop

.isotope-item {
  z-index: 2;
}
.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}
.isotope,
.isotope .isotope-item {
  /* change duration value to whatever you like */

  -webkit-transition-duration: 0.8s;
  -moz-transition-duration: 0.8s;
  transition-duration: 0.8s;
}
.isotope {
  -webkit-transition-property: height, width;
  -moz-transition-property: height, width;
  transition-property: height, width;
}
.isotope .isotope-item {
  -webkit-transition-property: -webkit-transform, opacity;
  -moz-transition-property: -moz-transform, opacity;
  transition-property: transform, opacity;
}

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .overImg {

    top:100px;
    left:120px;
  }
  .overImgTitle {
    top: 90px;
    font-size: 0.9em;
    max-width:70%;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .overImg {
    top:190px;
    left:130px;
  }
  //.bgkcolor {
  //  background: none; //md delete bgk
  //}

  .overImgTitle {
    top: 120px;
    font-size: 1.1em;
    max-width:80%;
  }

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}


